.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  height: 45px;

  -webkit-box-shadow: 0px -2px 50px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -2px 50px -5px rgba(0, 0, 0, 0.2);
}

.footer-container > div {
  flex: 1;
}

.footer-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-left: 5px;
}

.footer-rights-reserved {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
  margin-right: 5px;
}
