.sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  margin-top: 55px;
  height: 100%;
  width: 250px;
  max-width: 250px;
  
  background-color: #ffffff;
  
  -webkit-box-shadow: 0px 1px 15px 3px rgba(116, 116, 116, 0.16);
  box-shadow: 0px 1px 15px 3px rgba(116, 116, 116, 0.16);
  
  overflow: hidden;
  transition: max-width 0.5s;
}

.sidebar-container-contracted {
  max-width: 0;
  transition: max-width 0.5s;
}

.sidebar-toogle {
  position: fixed;
  top: 8px;
  left: 230px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35px;
  width: 35px;
  border-radius: 18px;
  
  background-color: #ffffff;
  
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.sidebar-toogle-contracted {
  transition: transform 0.5s;
  transform: rotate(-180deg);
}

.sidebar-toogle {
  background-color: #ffffff;
  border: 0;
  
  font-size: 16px;
  font-weight: bold;
  
  cursor: pointer;
  outline: none;
}

.avatar {
  width: 250px;
  padding: 20px 0 10px 0;
  border-top: 0;
  
  background-color: #ffffff;
  
  -webkit-box-shadow: 0px 1px 15px 3px rgba(116, 116, 116, 0.25);
  box-shadow: 0px 1px 15px 3px rgba(116, 116, 116, 0.25);
}

.div-avatar {
  height: 65px;
  width: 65px;
  
  border-radius: 33px;
  
  margin: auto;
  margin-bottom: 20px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.div-nome-usuario {
  display: flex;
  align-items: stretch;
  justify-content: center;
  
  width: 250px;
  
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

.div-nome-usuario button {
  background-color: #ffffff;
  
  border: 0;
  
  font-size: 16px;
  font-weight: bold;
  
  cursor: pointer;
  outline: none;
}

.div-nome-usuario button svg {
  margin-left: 5px;
}

.menu-usuario {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
}

.menu-usuario-contracted {
  margin-top: 10px;
  
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), margin-top 0.5s;
}

.menu-usuario-expanded {
  margin-top: 20px;
  max-height: 80px;
  transition: max-height 0.5s;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  
  height: 100%;
  
  padding-top: 10px;
}

a {
  display: flex;
  
  width: 100%;
  
  color: #000000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

@media (min-width: 769px) {
  .sidebar-container + .content-container {
    margin-left: 250px;
    transition: margin-left 0.5s;
  }

  .sidebar-container-contracted + .content-container {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .sidebar-toogle {
    left: 10px;
  }

  .sidebar-container {
    z-index: 2;
  }

  .menu-mask {
    position: fixed;
    display: none;

    height: 100%;
    width: 100%;
    z-index: 1;
    
    background-color: black;
    margin-top: 55px;
  }

  .menu-mask-visible {
    display: block;
    opacity: 0.3;
  }
}